body {
  margin: 0;
  min-width: 60rem;
}

section {
  display: flex;
}

h1 {
  background-color: slategray;
  margin: 0;
  padding: 1rem;
  font-size: 1.5rem;
}

h2 {
  background-color: slategray;
  margin: 0;
  padding: 1rem;
  font-size: 1.5rem;
}

ul {
  margin: 0;
  list-style-type: none;
padding: 0;
}

li {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #dddddd;
}

a {
  text-decoration: none;
  color: black;
}

#users_list li:hover, #inbox_list li:hover, #outbox_list li:hover {
  background-color: #bbbbbb;
}

.selected, .userMessage {
  background-color: #b0b0c0;
}

#users_list li.selected:hover {
  background-color: #b0b0c0;
}

#users, #match_maker {
  width: 14rem;
}

#messages {
  width: calc(100% - 28rem);
}

#messages > div:first-of-type {
  width: 30%;
  min-width: 14rem;
  max-width: 21rem;
}

#messages > div:first-of-type > div, #conversation > div, .scrollable, #match_maker {
  height: calc(100vh - 3.7rem);
}

@media (max-width: 60rem) {
  #messages > div:first-of-type > div, #conversation > div, .scrollable, #match_maker {
    height: calc(100vh - 4.8rem);
  }
}

#messages > div:first-of-type > div > div, #match_maker > div{
  height: 50%;
}

.list{
  height: calc(100% - 3.7rem);
}

#inbox_list li section, #outbox_list li section {
  width: 100%;
  gap: 5%;
}

#inbox_list li section p:first-of-type, #outbox_list li section p:first-of-type {
  width: 70%;
}

#inbox_list li section p:last-of-type, #outbox_list li section p:last-of-type {
  text-align: right;
  width: 25%;
}

#conversation {
  width: 100%;
}

#conversation > section {
  justify-content: space-between;
  background-color: slategray;
}

#conversation_image {
  width: 3rem;
  height: 3rem;
}

#conversation_chat {
  height: calc(100% - 5rem);
}

#conversation_chat li {
  width: fit-content;
  max-width: 33vw;
}

.userMessage {
  margin-left: auto;
}

#new_message {
  width: 100%;
  height: 4.6rem;
}

#submit_message {
  width: 8rem;
  height: 3rem;
}

.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
}