body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  min-width: 60rem;
}

section {
  display: flex;
}

h1 {
  background-color: #cc2222;
  color: white;
  margin: 0;
  padding: 1rem;
  font-size: 1.5rem;
}

h2 {
  background-color: #dd4455;
  color: white;
  margin: 0;
  padding: 1rem;
  font-size: 1.5rem;
}

ul {
  margin: 0;
  list-style-type: none;
padding: 0;
}

li {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #dddddd;
}

a {
  text-decoration: none;
  color: black;
}

#users, #match_maker {
  width: 14rem;
}

#users {
  border-right: 1px solid white;
}

#users_list li section, #match_maker li section:first-of-type {
  gap: 0.5rem;
}

#users_list li section > span, #match_maker li section:first-of-type > *{
  margin: auto 0;
}

#users_list li:hover, #inbox_list li:hover, #outbox_list li:hover {
  background-color: #bbbbbb;
}

.selected, .userMessage {
  background-color: #b0b0c0;
}

#users_list li.selected:hover, #inbox_list li.selected:hover, #outbox_list li.selected:hover {
  background-color: #b0b0c0;
}

#messages {
  width: calc(100% - 28rem);
}

#messages > div:first-of-type {
  width: 30%;
  min-width: 14rem;
  max-width: 21rem;
  border-right: 1px solid white;
}

#messages > div:first-of-type > div, #conversation > div, .scrollable, #match_maker {
  height: calc(100vh - 3.77rem);
}
@media (max-width: 60rem) {
  #messages > div:first-of-type > div, .scrollable, #match_maker {
    height: calc(100vh - 4.9rem);
  }
}
@media (max-width: 80rem) {
#conversation > div {
    height: calc(100vh - 7.52rem);
  }
}
@media (max-width: 60rem) {
  #conversation > div {
      height: calc(100vh - 8.58rem);
    }
  }

#messages > div:first-of-type > div > div, #match_maker > div{
  height: 50%;
}

.list{
  height: calc(100% - 3.7rem);
}

#inbox_list li section, #outbox_list li section {
  width: 100%;
  gap: 5%;
}

#inbox_list li section p:first-of-type, #outbox_list li section p:first-of-type {
  width: 70%;
}

#inbox_list li section p:last-of-type, #outbox_list li section p:last-of-type {
  text-align: right;
  width: 25%;
}

#conversation {
  width: 100%;
  border-right: 1px solid white;
}

#conversation > section {
  justify-content: space-between;
  background-color: #cc2222;
}

@media (max-width: 73rem) {
  #conversation > section {
    flex-direction: column;
  }
}

#conversation > section > section {
  max-width: 19rem;
}
@media (max-width: 73rem) {
  #conversation > section > section {
    margin-left: auto;
  }
}

#conversation > section > section > * {
  margin: auto;
}

#conversation_partner {
  background-color: inherit;
  text-align: right;
}
@media (max-width: 80rem) {
  #conversation > section > section > #conversation_partner {
    margin-right: 0;
  }
}

#conversation #conversation_image {
  width: 3rem;
  height: 3rem;
  margin: auto 0.34rem;
}

#conversation_chat {
  height: calc(100% - 5rem);
}

#conversation_chat li {
  width: fit-content;
  max-width: 65%;
}

.userMessage {
  margin-left: auto;
}

#new_message {
  width: 100%;
  height: 2.92rem;
  max-height: 2.92rem;
  padding: 1rem;
  resize: none;
}

#submit_message {
  width: 8rem;
  height: 3rem;
}

#match_maker li section:first-of-type {
  margin-bottom: 0.5rem;
}

#match_maker li section:first-of-type span {
  display: block;
}

#match_maker li section:last-of-type {
  justify-content: space-around;
  margin-top: 1rem;
}

#match_maker li section:first-of-type img {
  height: 3rem;
  width: 3rem;
}

#match_maker li section:last-of-type img {
  width: 2rem;
  height: 2rem;
}

#match_maker li section:last-of-type img:hover, #match_maker li section:last-of-type img.rated {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  margin-top: -1rem;
}

#match_maker li section:last-of-type img:first-of-type, #match_maker li section:last-of-type img:last-of-type {
  width: 1.5rem;
  height: 1.5rem;
  margin-top: auto;
}

#match_maker li section:last-of-type img:first-of-type:hover, #match_maker li section:last-of-type img:last-of-type:hover,
#match_maker li section:last-of-type img:first-of-type.rated, #match_maker li section:last-of-type img:last-of-type.rated {
  width: 2.5rem;
  height: 2.5rem;
  margin-top: -0.5rem;
}

.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
}